<a href="https://colab.research.google.com/github/mromerovsv/teste_trip_data/blob/master/teste_mateus_trip.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importar bibliotecas

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import glob

from google.colab import files
from datetime import date
import datetime

Importar CSV de teste

In [3]:
uploaded = files.upload()

Saving 2018_Yellow_Taxi_Trip_Data.csv to 2018_Yellow_Taxi_Trip_Data.csv

Criar dataframes de corte

In [4]:
trip = pd.read_csv('2018_Yellow_Taxi_Trip_Data.csv', sep=',')

print(trip)

trip_passengers_m2 = trip[trip['passenger_count'] <= 2]

print(trip_passengers_m2)

         VendorID    tpep_pickup_datetime  ... improvement_surcharge  total_amount
0               2  06/13/2018 10:21:21 AM  ...                   0.3         15.30
1               2  06/13/2018 10:42:40 AM  ...                   0.3          5.80
2               2  06/13/2018 10:54:04 AM  ...                   0.3         10.80
3               2  06/13/2018 10:02:47 AM  ...                   0.3         20.38
4               2  06/13/2018 10:29:11 AM  ...                   0.3         11.80
...           ...                     ...  ...                   ...           ...
1515289         2  06/18/2018 04:05:44 PM  ...                   0.3         12.96
1515290         2  06/18/2018 04:18:03 PM  ...                   0.3          9.96
1515291         2  06/18/2018 04:17:33 PM  ...                   0.3         11.16
1515292         2  06/18/2018 04:30:30 PM  ...                   0.3          5.30
1515293         2  06/18/2018 04:37:22 PM  ...                   0.3          7.80

[1515294 rows x 17 columns]
         VendorID    tpep_pickup_datetime  ... improvement_surcharge  total_amount
0               2  06/13/2018 10:21:21 AM  ...                   0.3         15.30
1               2  06/13/2018 10:42:40 AM  ...                   0.3          5.80
2               2  06/13/2018 10:54:04 AM  ...                   0.3         10.80
3               2  06/13/2018 10:02:47 AM  ...                   0.3         20.38
4               2  06/13/2018 10:29:11 AM  ...                   0.3         11.80
...           ...                     ...  ...                   ...           ...
1515286         2  06/18/2018 04:40:56 PM  ...                   0.3         46.27
1515287         2  06/18/2018 03:58:59 PM  ...                   0.3         75.67
1515288         1  06/18/2018 04:33:27 PM  ...                   0.3         63.06
1515289         2  06/18/2018 04:05:44 PM  ...                   0.3         12.96
1515290         2  06/18/2018 04:18:03 PM  ...                   0.3          9.96

[1312369 rows x 17 columns]

Média do dataframe de passageiros com contagem máxima de passageiros igual a 2

In [5]:
trip_passengers_m2["trip_distance"].mean()
#3.04935

3.0493525601412563

Transformar coluna "tpep_pickup_datetime" para date

In [8]:
from datetime import datetime
from datetime import date

trip["tpep_pickup_datetime"] = pd.to_datetime(trip["tpep_pickup_datetime"])

trip

         VendorID tpep_pickup_datetime  ... improvement_surcharge  total_amount
0               2  2018-06-13 10:21:21  ...                   0.3         15.30
1               2  2018-06-13 10:42:40  ...                   0.3          5.80
2               2  2018-06-13 10:54:04  ...                   0.3         10.80
3               2  2018-06-13 10:02:47  ...                   0.3         20.38
4               2  2018-06-13 10:29:11  ...                   0.3         11.80
...           ...                  ...  ...                   ...           ...
1515289         2  2018-06-18 16:05:44  ...                   0.3         12.96
1515290         2  2018-06-18 16:18:03  ...                   0.3          9.96
1515291         2  2018-06-18 16:17:33  ...                   0.3         11.16
1515292         2  2018-06-18 16:30:30  ...                   0.3          5.30
1515293         2  2018-06-18 16:37:22  ...                   0.3          7.80

[1515294 rows x 17 columns]

Criar uma nova coluna com os dias da semana utilizando a coluna formatada para data

In [10]:
trip['weekend'] = trip['tpep_pickup_datetime'].dt.dayofweek

trip_fds = trip[trip['weekend'] >=5]

trip_fds["trip_distance"].mean()
#3.1507

3.15072268336328