<a href="https://colab.research.google.com/github/mromerovsv/teste_trip_data/blob/master/teste_mateus_trip.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importar bibliotecas

In [92]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import glob

from google.colab import files
from datetime import date
import datetime

Importar CSV de teste

In [10]:
#uploaded = files.upload()

Criar dataframes de corte

In [12]:
trip = pd.read_csv('2018_Yellow_Taxi_Trip_Data.csv', sep=',')

print(trip)

trip_passengers_m2 = trip[trip['passenger_count'] <= 2]

print(trip_passengers_m2)

         VendorID    tpep_pickup_datetime  ... improvement_surcharge  total_amount
0               2  06/13/2018 10:21:21 AM  ...                   0.3         15.30
1               2  06/13/2018 10:42:40 AM  ...                   0.3          5.80
2               2  06/13/2018 10:54:04 AM  ...                   0.3         10.80
3               2  06/13/2018 10:02:47 AM  ...                   0.3         20.38
4               2  06/13/2018 10:29:11 AM  ...                   0.3         11.80
...           ...                     ...  ...                   ...           ...
1515289         2  06/18/2018 04:05:44 PM  ...                   0.3         12.96
1515290         2  06/18/2018 04:18:03 PM  ...                   0.3          9.96
1515291         2  06/18/2018 04:17:33 PM  ...                   0.3         11.16
1515292         2  06/18/2018 04:30:30 PM  ...                   0.3          5.30
1515293         2  06/18/2018 04:37:22 PM  ...                   0.3          7.80

[1515294 rows x 17 columns]
         VendorID    tpep_pickup_datetime  ... improvement_surcharge  total_amount
0               2  06/13/2018 10:21:21 AM  ...                   0.3         15.30
1               2  06/13/2018 10:42:40 AM  ...                   0.3          5.80
2               2  06/13/2018 10:54:04 AM  ...                   0.3         10.80
3               2  06/13/2018 10:02:47 AM  ...                   0.3         20.38
4               2  06/13/2018 10:29:11 AM  ...                   0.3         11.80
...           ...                     ...  ...                   ...           ...
1515286         2  06/18/2018 04:40:56 PM  ...                   0.3         46.27
1515287         2  06/18/2018 03:58:59 PM  ...                   0.3         75.67
1515288         1  06/18/2018 04:33:27 PM  ...                   0.3         63.06
1515289         2  06/18/2018 04:05:44 PM  ...                   0.3         12.96
1515290         2  06/18/2018 04:18:03 PM  ...                   0.3          9.96

[1312369 rows x 17 columns]

Média do dataframe de passageiros com contagem máxima de passageiros igual a 2

In [15]:
trip_passengers_m2["trip_distance"].mean()
#3.04935

3.0493525601412563

Transformar coluna "tpep_pickup_datetime" para date

In [109]:
from datetime import datetime
from datetime import date

trip2["tpep_pickup_datetime"] = pd.to_datetime(trip2["tpep_pickup_datetime"])

         level_0    index  ...  total_amount weekday
0              0        0  ...         15.30   teste
1              1        1  ...          5.80   teste
2              2        2  ...         10.80   teste
3              3        3  ...         20.38   teste
4              4        4  ...         11.80   teste
...          ...      ...  ...           ...     ...
1515289  1515289  1515289  ...         12.96   teste
1515290  1515290  1515290  ...          9.96   teste
1515291  1515291  1515291  ...         11.16   teste
1515292  1515292  1515292  ...          5.30   teste
1515293  1515293  1515293  ...          7.80   teste

[1515294 rows x 20 columns]

Criar uma nova coluna com os dias da semana utilizando a coluna formatada para data

In [113]:
trip2['weekend'] = trip2['tpep_pickup_datetime'].dt.dayofweek

trip_fds = trip2[trip2['weekend'] >=5]

trip_fds["trip_distance"].mean()
#3.1507

3.15072268336328